.bg-colo1 h1{
    margin-top: 15%;
    display: flex;
    row-gap: 10px;
    justify-content: center;
    color: white;
}
.bg-colo1 h3{
    display: flex;
    row-gap: 10px;
    justify-content: center;
    color: white;
}

